a<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%t %h request:"%r" response_code:%s response_time_ms:%D bytes_sent:%b query_string:"%q" "%i{cipher}" "%i{True-Client-IP}" "%i{tlsversion}" "%i{Referer}" "%i{User-Agent}" "%reqCookie{dcenv}" "%reqCookie{tgenv}" "%reqCookie{Akamai-IP}" "%reqCookie{AKMACHINEID}" "%reqCookie{request-id-akamai}" "%reqCookie{AK_REQUEST_EID}" "%reqCookie{AK_REQUEST_PID}" "%I" "%v"</Pattern>
        </encoder>
    </appender>
    <appender-ref ref="STDOUT" />
</configuration>